{% extends 'back-office.html.twig' %}

{% block title %}Produit {% endblock %}

{% block body %}
    <h1>Produit </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantiteenstock</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
      {% for produit in produits %}
    <tr>
        <td>{{ produit.id }}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.description }}</td>
        <td>{{ produit.prix }}</td>
        <td>{{ produit.quantiteenstock }}</td>
        <td colspan="2"><img src="{{ asset('images/' ~ produit.image) }}" alt="Image" style="max-width: 50px;"></td>

        <td>
            <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Detail</a>
            <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}

        </tbody>
    </table>

    <p><a href="{{ path('app_produit_new') }}">Ajouter un nouveau produit</a></p>
    
    <p><a href="{{ path('app_categorie_index') }}">Retourner a la liste des categories</a></p>
{% endblock %}
