<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des produits</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Liste des produits</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité en Stock</th>
                <th>Catégorie</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.quantiteEnStock }}</td>
                    <td>{{ produit.idcategorie}}</td>
                    <td><img src="{{ asset('public/images/' ~ produit.image) }}"  style="width: 100px; height: auto;"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
