{% extends 'back-office.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .btn {
                display: inline-block;
                width: 100%;
                padding: 12px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 16px;
                text-align: center;
                text-decoration: none;
                line-height: 1;
            }

            .btn:hover {
                background-color: #0056b3;
            }

            .btn:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }   }
    </style>

    <div class="container">
        <div>
            <div style="text-align: center;">
                <h1 style="color: #007bff; font-weight: bold;">Détail Produit</h1>
            </div>


            <table class="table">
                <tbody>
                <tr>
                    <td colspan="2"><img src="{{ asset('images/' ~ produit.image) }}" alt="Image" style="max-width: 500px;"></td>
                </tr>

                <tr>
                    <th style="color: #007bff; text-align: left;">Nom du produit :</th>
                    <td style="font-weight: bold;">{{ produit.nom }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">description produit :</th>
                    <td style="font-weight: bold;">{{ produit.description }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">prix :</th>
                    <td style="font-weight: bold;">{{ produit.prix }}</td>
                </tr>
                <tr>
                    <th style="color: #007bff; text-align: left;">quantiteenstock :</th>
                    <td style="font-weight: bold;">{{ produit.quantiteenstock }}</td>
                </tr>
               
                </tbody>
            </table>


        </div>
    </div>

    <div style="text-align: center;">
           <P><a href="{{ path('app_produit_index') }}">Retourner a la liste des produits</a></P>

    <P><a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a></P>

    <P>{{ include('produit/_delete_form.html.twig') }}</P>
        </div>

    </div>
{% endblock %}
