{% extends 'back-office.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcategorie</th>
                <th>Nomcategorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.idcategorie }}</td>
                    <td>{{ categorie.nomcategorie }}</td>
                    <td>
                        <a href="{{ path('app_categorie_show', {'idcategorie': categorie.idcategorie}) }}">Détail</a>
                        <a href="{{ path('app_produit_new', {'idcategorie': categorie.idcategorie}) }}">Ajouter un produit</a>
                        <a href="{{ path('app_categorie_edit', {'idcategorie': categorie.idcategorie}) }}">Modifier</a>
                        <a href="{{ path('app_categorie_produits', {'idcategorie': categorie.idcategorie}) }}">Afficher produits</a>
                        <a href="{{ path('app_produit_statistics', {'idcategorie': categorie.idcategorie}) }}">Voir les statistiques des produits</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Ajouter une nouvelle catégorie</a>
{% endblock %}
